<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/css/partials/Header.css">
        <link rel="stylesheet" href="/assets/css/partials/Footer.css">
        <link rel="stylesheet" href="/assets/css/Hangman.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Tiny5&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="header">
            <a href="/menu" id="menu">H-A-N-G-M-A-N</a>
            <a href="/game" id="NewGame">New Game</a>
        </header>
        <main>
            <div id="mot">
                {{range .Mot}}
                    <p>{{.}}</p>
                {{end}}
            </div>
            <div class="HP">
                <img id="HP" src="/assets/img/HP.webp" alt="">
                <p>x{{.Live}}</p>
            </div>
            <div id="InputError">
                {{if .IfError}}
                    <p>{{.Error}}</p>
                {{end}}
            </div>
            <img class="Error" src="/assets/img/Display/Display{{.NbError}}.png" alt="">
            
            
            <div class="Try">
                {{range .Try}}
                    <p>{{.}} - </p>
                {{end}}
            </div>
                
            <form action="/hangman/treatment" method="post">
                <label for="word">Word</label>
                <input type="text" name="word" id="word" placeholder="Word.....">
                <label for="letter">Letter</label>
                <input type="text" name="letter" id="word" placeholder="Letter....">
                <button type="submit">Tester</button>
            </form>
        </main>
        
        
        <script src="/assets/JS/FrontJS.js" async defer></script>
    </body>
</html>